*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --color-title: #1e2528;
  --color-regular: #888888;
  --bg-btn-pink: #ff817e;
  --bg-btn-dark: #30383b;
  --bg-pink: #fff9f8;
  --color-border: #d4d3d3;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
img {
  display: block;
}
a {
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
}
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  outline: none !important;
  box-shadow: none;
}

/*tái sử dụng*/
.w-1140 {
  max-width: 114rem;
}
.title {
  font-family: "Rufina", serif;
  font-weight: 700;
}
/*-----------------------*/
.wapper {
  background-image: url("../image/bg-image.png");
  background-position: start cover;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 192rem;
}
/*header*/
.header {
  max-width: 114rem;
}
.header__navigation {
  padding-top: 2rem;
  margin-bottom: 20rem;
}
.header__navigation--logo {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: var(--color-title);
}
.header__navigation--list {
  margin-left: 18rem;
  margin-top: 5.2rem;
}
.header__navigation--list li {
  margin: 0 1.7rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: var(--color-title);
  font-weight: 600;
}
/*header banner*/
.header__banner {
  margin-bottom: 36.8rem;
}
.header__banner p:nth-child(1) {
  color: #ff817e;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__banner h1 {
  max-width: 60rem;
  font-size: 6rem;
  font-family: "Rufina", serif;
  font-weight: bold;
  line-height: 1.5;
}
.header__banner p:last-of-type {
  font-size: 1.5rem;
  max-width: 60rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 5.5rem;
}
.header__banner .reserve-now {
  width: 17rem;
  height: 5rem;
  background: var(--bg-btn-pink);
  color: #ffffff;
  border: none;
  font-size: 1.3rem;
}
.header__banner .play-video {
  margin-left: 6rem;
  font-size: 1.5rem;
}
.header__banner .play-video:focus {
  outline: none !important;
}
/*header about*/
.header__about {
  padding: 0 13rem;
}
.header__about img {
  width: 8.5rem;
}
.header__about p:nth-child(2) {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-regular);
  letter-spacing: 1px;
  line-height: 1.5;
}
.header__about h2 {
  font-size: 4.2rem;
  font-family: "Rufina", serif;
  font-weight: bold;
  line-height: 1.5;
}
.header__about p:nth-child(4) {
  font-size: 1.5rem;
  line-height: 1.5;
}
.header__about button {
  margin-top: 7rem;
  height: 5rem;
  width: 16.7rem;
  background: var(--bg-btn-pink);
  border: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px;
  margin-bottom: 13.5rem;
}
@media (max-width: 768px) {
  .header__about {
    padding: 0 2rem;
  }
}
/*Feature*/

.freature__item figcaption {
  background: #eb7a77;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freature__item figcaption img {
  display: block;
}
/*servicer*/
.service {
  padding: 14rem 0 5rem;
}
.service__top {
  max-width: 66.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10rem;
}
.service__top h3 {
  font-size: 4.2rem;
  color: var(--color-title);
  font-family: "Rufina", serif;
  margin-bottom: 3rem;
}
.service__top p {
  font-size: 1.5rem;
  color: var(--color-regular);
}
.service__content .card {
  padding: 2rem;
  border-radius: 0;
  box-shadow: 5px;
  transition: all 0.6s;
  margin-bottom: 2rem;
}
.service__content .card:hover {
  box-shadow: 0px 0px 20px 5px #d2d2d6;
  border: none;
}
.service__content .card-body {
  padding: 4rem 1.5rem;
  text-align: center;
}
.service__content .card-title {
  font-family: "Rufina", serif;
  font-size: 22px;
  margin-bottom: 3rem;
  color: var(--color-title);
}
.service__content .card-text {
  font-size: 1.4rem;
  color: var(--color-regular);
  line-height: 2.5rem;
  margin-bottom: 4rem;
}
.service__content .card-body a {
  width: 14.5rem;
  height: 4.5rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.service__content .card-body a.dark {
  background: #30383b;
}
.service__content .card-body a.red {
  background: #ff817e;
}
/*testimon*/
.testimon {
  background: #fff9f8;
  max-height: 70rem;
  padding: 13.6rem 0;
}
.testimon__fram {
  max-width: 104rem;
  text-align: center;
  margin: 0 auto;
}
.testimon__fram .icon-ngoac {
  display: inline-block;
  margin-bottom: 4rem;
}
.testimon__fram p {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 5rem;
}
/* .testimon__avata{
  width: 8rem;
  height: 8rem;
  background: #ffccd6;
  border-radius: 4rem;
  margin: 0 auto;
} */
/*team top*/
.team{
  padding-top: 10rem;
}
.team__top h3 {
  font-size: 4.2rem;
  color: var(--color-title);
  font-family: "Rufina", serif;
  margin-bottom: 3rem;
}
